{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "standard"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "semi": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "no-unused-vars": ["warn", {
            "args": "all",
            "argsIgnorePattern": "^_" ,
            "ignoreRestSiblings": true
        }]
    }
}
